baseurl: ''
host: '127.0.0.1'



markdown: redcarpet
redcarpet:
  extensions: ["strikethrough"]


prose:
  rooturl: ''
  siteurl: 'http://bmlp.github.io'
  relativeLinks: 'http://bmlp.github.io/links.jsonp'
  media: 'media'
  ignore:
    - index.html
    - _config.yml
    - /_layouts
    - /_includes
    - /assets
    - /theme-orig
    - config.rb
    - Gemfile
    - Gemfile.lock
    - 404.html
  metadata:
    _posts:
      - name: "layout"
        field:
          element: "hidden"
          value: "blog"
      - name: "tags"
        field:
          element: "multiselect"
          label: "Add Tags"
          placeholder: "Choose Tags"
          options:
            - name: "Apples"
              value: "apples"
            - name: "Bananas"
              value: "bananas"
    _posts/static:
      - name: "layout"
        field:
          element: "hidden"
          value: "page"
      - name: "permalink"
        field:
          element: "text"
          label: "Permalink"
          value: ""
