---
title: Providing critical legal and community support in a time of transformation
layout: default
---

		<!-- END NAVBAR -->

		{% include sections/hero.html %}

		{% for section in site.data.sections %}

			{% if section.url == 'resources' %}

				{% include sections/resources.html section=section %}

			{% elsif section.url == 'what-we-do' %}

				{% include sections/what-we-do.html section=section %}

			{% elsif section.url == 'support-us' %}

				{% include sections/support-us.html section=section %}

			{% elsif section.url == 'who-we-are' %}

				{% include sections/who-we-are.html section=section %}

			{% elsif section.url == 'contact' %}

				{% include sections/contact.html section=section %}

			{% endif %}

		{% endfor %}
