<!-- CONTACT -->
<section id="contact">
  <div class="container">
    <div class="heading-center">
      <h2 class="section-heading">{{section.heading}}</h2>
      <p class="lead">{{section.lead}}</p>
      <hr>
    </div>
  </div>
  <!--       <div class="google-map margin-bottom-50px">
        <div id="custom-map-canvas"></div>
      </div> -->
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <ul class="contact-info contact-half margin-bottom-50px fa-ul">
          <li><span class="fa fa-li fa-building-o"></span>
            <h3>Address</h3>
            <strong>{{site.data.config.address_header}}</strong> {% for addressline in site.data.config.address %}
            <br/>{{addressline}} {% endfor %}
          </li>
          <li><span class="fa fa-li fa-phone"></span>
            <h3>Text/Voicemail Number</h3>
            <p>{{site.data.config.contactphone}}</p>
          </li>
          <li><span class="fa fa-li fa-envelope-o"></span>
            <h3>Email</h3>
            <p><a href="{{site.data.config.contactemail}}">{{site.data.config.contactemail}}</a></p>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <!-- CONCTACT FORM -->
        <div class="contact-form-wrapper">
          <form id="contact-form" action="https://formspree.io/{{site.data.config.contactemail}}" class="form-horizontal margin-bottom-30px" role="form" data-parsley-validate>
            <div class="form-group">
              <div class="col-sm-12">
                <label>
                  I'm interested in working with BMLP
                </label><span class="pull-right"><input type="checkbox" id="volunteerOptIn" name="volunteerOptIn" data-toggle="toggle" data-on="Yes" data-off="No"></span>
              </div>
            </div>
            <fieldset id="contactInfo">
              <legend>Contact Information</legend>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="firstname" class="control-label sr-only">First Name</label>
                    <input data-parsley-required-message="Name is required" type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name" required>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="lastname" class="control-label sr-only">Last Name</label>
                    <input data-parsley-required-message="Name is required" type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name" required>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <label for="contact-email" class="control-label sr-only">Email</label>
                  <input data-parsley-required-message="Email is required" type="email" class="form-control" id="contact-email" name="email" placeholder="Email*" required>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="zip" class="control-label sr-only">Zip</label>
                    <input data-parsley-required-message="Zip is required" data-parsley-type="integer" type="text" data-parsley-length-message="Please provide a 5 character US zipcode" data-parsley-type-message="Please provide a valid 5 digit integer" data-parsley-length="[5,5]" class="form-control" id="zip" name="zip" placeholder="Zip" maxlength="5" length="5">
                  </div>
                   <input type="hidden" name="ziplocation" id="ziplocation" />
                </div>
                <div class="col-sm-9">
                  <label for="contact-email" class="control-label sr-only">Phone</label>
                  <input data-parsley-required-message="Email is required" type="phone" class="form-control" id="phone" name="Phone" placeholder="Phone">
                </div>
              </div>
            </fieldset>
            <fieldset id="volunteerInfo" style="display:none" class="animated fadeIn animation-delay-2">
              <legend>Volunteer Information</legend>
              <div class="form-group">
                <div class="col-sm-12 checkbox">
                  <label>
                    <input type="checkbox" id="loTraining" name="loTraining" data-toggle="toggle" data-on="Yes" data-off="No"> Have you ever been trained as a Legal Observer?
                  </label>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12 checkbox">
                  <label>
                    <input type="checkbox" id="isLicensed" name="isLicensed" data-toggle="toggle" data-on="Yes" data-off="No"> Are you a licensed attorney?
                  </label>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12 checkbox">
                  <label>
                    <input type="checkbox" id="racialIdentity" name="racialIdentity" data-toggle="toggle" data-on="Yes" data-off="No"> Do you identify as Black, African American, or of African-Descent?
                  </label>
                </div>
              </div>
              <div class="form-group">
              <div class="col-sm-12">
                <label for="org-affiliations">Organizational Affiliations</label>
                <textarea class="form-control" name="org-affiliations" id="org-affiliations" rows="1" cols="30" placeholder="Organizational Affiliations*"> </textarea>
                </div>
              </div>
            </fieldset>
            <fieldset id="messageInfo">
              <legend>Your message</legend>
              <div class="form-group">
                <label for="contact-subject" class="control-label sr-only">Subject</label>
                <div class="col-sm-12">
                  <input type="text" class="form-control" id="contact-subject" name="_subject" placeholder="Subject">
                </div>
              </div>
              <div class="form-group">
                <label for="contact-message" class="control-label sr-only">Message</label>
                <div class="col-sm-12">
                  <textarea data-parsley-required-message="Email message is required" class="form-control" id="contact-message" name="body" rows="5" cols="30" placeholder="Message*" required></textarea>
                  <p class="form-block">{{site.data.texts.contact_form_help}}</p>
                </div>
              </div>
            </fieldset>
            <input type="hidden" name="_cc" value="{{site.data.config.contactemailalt}}" />

            <input type="text" name="_gotcha" style="display:none" />
            <div class="form-group">
              <div class="col-sm-12">
                <button id="submit-button" data-submit-success="{{site.data.texts.contact_form_confirmation}}" type="submit" class="btn btn-primary"><span class="fa loading-icon"></span> <span>Submit Message</span>
                </button>
              </div>
            </div>
            <input type="hidden" name="msg-submitted" id="msg-submitted" value="true">
          </form>
        </div>
        <!-- END CONCTACT FORM -->
      </div>
    </div>
  </div>
</section>
<!-- END CONTACT -->
