<section id="{{section.url}}">
  <div class="container">
    <div class="heading-center">
      <h2 class="section-heading">{{section.heading}}</h2>
      <p class="lead">{{section.lead}}</p>
      <hr>
    </div>
    <div class="row text-center">
     <a class="btn btn-primary btn-lg" title="Click here to Donate to BMLP" href="https://charity.gofundme.com/o/en/campaign/bmlp1" target="_blank">
<span class="fa fa-money"></span>&nbsp;
Click Here to Donate to BMLP
</a>

    </div>
  </div>
</section>
