    <!-- PRICING -->
    <section id="pricing">
      <div class="container">
        <div class="heading-center">
          <h2 class="section-heading">PRICING</h2>
          <p class="lead">The 1st month is on us, 30-days free trial</p>
          <hr>
        </div>
        <div class="multiple-pricing-table">
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <div class="pricing-item">
                <span class="fa fa-bicycle plan-icon"></span>
                <h4>Starter</h4>
                <strong class="price">FREE</strong>
                <ul class="list-unstyled plan-detail-list">
                  <li><strong>5 GB</strong> upload quota</li>
                  <li><strong>10 GB</strong> file storage</li>
                  <li><strong>Up to 2 Mbps</strong> download speed</li>
                  <li><strong>Professional support</strong></li>
                </ul>
                <button type="button" class="btn btn-primary">Free Trial</button>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="pricing-item">
                <span class="fa fa-car plan-icon"></span>
                <h4>Premium</h4>
                <p class="pricing-badge">
                  <span>BEST VALUE</span>
                </p>
                <strong class="price">$49 <span class="duration">/mo</span></strong>
                <ul class="list-unstyled plan-detail-list">
                  <li><strong>20 GB</strong> upload quota</li>
                  <li><strong>100 GB</strong> file storage</li>
                  <li><strong>Exceptional</strong> download speed</li>
                  <li><strong>Professional support</strong></li>
                </ul>
                <button type="button" class="btn btn-primary">Free Trial</button>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="pricing-item">
                <span class="fa fa-rocket plan-icon"></span>
                <h4>Professional</h4>
                <strong class="price">$99 <span class="duration">/mo</span></strong>
                <ul class="list-unstyled plan-detail-list">
                  <li><strong>Unlimited</strong> upload quota</li>
                  <li><strong>Unlimited</strong> file storage</li>
                  <li><strong>Exceptional</strong> download speed</li>
                  <li><strong>Priority professional support</strong></li>
                </ul>
                <button type="button" class="btn btn-primary">Free Trial</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END PRICING -->
