
<section id="resources">
  <div class="container">
    <div class="heading-center">
      <h2 class="section-heading">{{section.heading}}</h2>
      <p class="lead">{{section.lead}}</p>
      <hr>
    </div>
    {% for resource in site.categories.resources %}
    <div class="row">
      <div class="col-md-4">
        <div class="boxed-content left-aligned">
          <span class="fa fa-{{resource.fileformat}} text-body-color"></span>
          <h2 class="boxed-content-title">{{resource.title}}</h2>
          <p>{{resource.content}}</p>
          {% if resource.fileorlink == 'file'%}
          <a href="{{site.baseurl}}/{{site.prose.media}}/{{resource.path}}" target="_blank" download class="btn btn-primary">
            <span class="fa fa-download"></span> Download
          </a>
          {% elsif resource.fileorlink == 'link' %}
          <a href="{{resource.link}}" target="_blank" class="btn btn-primary">
            <span class="fa fa-link"></span> Link
          </a>
          {% endif %}

        </div>
      </div>
      {% endfor %}
    </div>
</section>
