<h3 class="section-heading text-center">MEET OUR TEAM</h3>
        <!-- TEAM -->
        <section class="team">
          <div class="section-content">
            <div class="col-md-5">
              <div class="team-member media">
                <img src="../assets/img/team/person1.png" class="media-object img-circle pull-left" alt="" />
                <div class="media-body">
                  <h3 class="media-heading team-name">Michael Summer</h3>
                  <strong>Executive Director</strong>
                  <hr class="pull-left">
                  <div class="clearfix"></div>
                  <p>Dynamically evolve client-based portals through world-class models. Phosfluorescently simplify cross-platform convergence and multimedia based portals. Rapidiously.</p>
                  <ul class="list-inline social-icon">
                    <li>
                      <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- END TEAM -->
