<!-- SERVICES -->
<section id="{{section.url}}">
  <div class="container">
    <div class="heading-center">
      <h2 class="section-heading">{{section.heading}}</h2>
      <p class="lead">{{section.lead}}</p>
      <hr>
    </div>
    <!-- BOXED CONTENT -->
    <div class="row">
    {% for post in site.categories.whatwedo %}
      <div class="col-md-4">
        <div class="boxed-content left-aligned">
          <span class="fa fa-{{post.icon}} text-body-color"></span>
          <h2 class="boxed-content-title">{{post.title}}</h2>
          <p>{{post.content}}</p>
        </div>
      </div>
    {% endfor %}
    </div>
    <!-- END BOXED CONTENT -->
  </div>
</section>
<!-- END SERVICES -->
