<!-- FOOTER -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <!-- COLUMN 1 -->
            <h3 class="sr-only">ABOUT US</h3>
            <img src="../assets/img/logo/repute-logo-light.png" class="logo" alt="Repute">
            <p>Proactively aggregate B2B initiatives before extensive channels. Monotonectally extend interactive methods of empowerment through excellent applications. Rapidiously synergize visionary products with sticky technology.</p>
            <br>
            <address class="margin-bottom-30px">
              <ul class="list-unstyled">
                <li>1234 North Main Street
                  <br/> New York, NY 222222</li>
                <li>Phone: (1800) 765 - 4321</li>
                <li>Email: email@yourdomain.com</li>
              </ul>
            </address>
            <!-- END COLUMN 1 -->
          </div>
          <div class="col-md-4">
            <!-- COLUMN 2 -->

            <div class="row margin-bottom-30px">
              <div class="col-xs-6">
              <h3 class="footer-heading">Site Navigation</h3>
                <ul class="list-unstyled footer-nav">
                  <li>
                    <a href="#top">Home</a>
                </li>
                {% for section in site.data.sections %}
                <li>
                  <a href="#{{section.url}}">{{section.menu}}</a>
                </li>
              {% endfor %}
                </ul>
              </div>
              <div class="col-xs-6">
              <h3 class="footer-heading">Useful Links</h3>
                <ul class="list-unstyled footer-nav">
                  <li>
                    <a href="#">Press Kit</a>
                  </li>
                  <li>
                    <a href="#">FAQ</a>
                  </li>
                  <li>
                    <a href="#">Terms</a>
                  </li>
                  <li>
                    <a href="#">Privacy Policy</a>
                  </li>
                  <li>
                    <a href="#">Contact Us</a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- END COLUMN 2 -->
          </div>
          <div class="col-md-4">
            <!-- COLUMN 3 -->
            <div class="newsletter">
              <h3 class="footer-heading">NEWSLETTER</h3>
              <p>Get the latest update from us by subscribing to our newsletter.</p>
              <form  data-parsley-validate class="newsletter-form" method="POST" >
                <div class="input-group input-group-lg">
                  <input type="email" class="form-control" name="email" placeholder="youremail@domain.com">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="button"><i class="fa fa-spinner fa-spin"></i><span>SUBSCRIBE</span>
                  </button>
                  </span>
                </div>
                <div class="alert"></div>
              </form>
            </div>
            <div class="social-connect">
              <h3 class="footer-heading">GET CONNECTED</h3>
              <ul class="list-inline social-icons">
                <li>
                  <a href="{{site.data.config.facebook}}" class="facebook-bg"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="{{site.data.config.twitter}}" class="twitter-bg"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#" class="rss-bg"><i class="fa fa-rss"></i></a>
                </li>
              </ul>
            </div>
            <!-- END COLUMN 3 -->
          </div>
        </div>
      </div>
      <!-- COPYRIGHT -->
      <div class="text-center copyright">
        &copy;2015 The Develovers. All Rights Reserved.
      </div>
      <!-- END COPYRIGHT -->
    </footer>
    <!-- END FOOTER -->
