<!-- FOOTER -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <!-- COLUMN 1 -->
            <h3 class="sr-only">ABOUT US</h3>
            <h3>
            <a href="/{{site.baseurl}}">
                {{site.data.texts.title}}
            </a>
            </h3>
            <p>{{site.data.texts.about}}</p>
            <br>
            <address class="margin-bottom-30px">
              <ul class="list-unstyled">
                <li>{{site.data.config.address1}}
                  <br/>{{site.data.config.address2}}</li>
                <li>Phone: {{site.data.config.contactphone}}</li>
                <li>{{site.data.config.contactemail}}</li>
              </ul>
            </address>
            <!-- END COLUMN 1 -->
          </div>
          <div class="col-md-4">
            <!-- COLUMN 2 -->

            <div class="row margin-bottom-30px">
              <div class="col-xs-6">
              <h3 class="footer-heading">Site Navigation</h3>
                <ul class="list-unstyled footer-nav">
                  <li>
                    <a href="#top">Home</a>
                </li>
                {% for section in site.data.sections %}
                <li>
                  <a href="#{{section.url}}">{{section.menu}}</a>
                </li>
              {% endfor %}
                </ul>
              </div>
              <div class="col-xs-6">
              <h3 class="footer-heading">Useful Links</h3>
                <ul class="list-unstyled footer-nav">
                  <li>
                    <a href="#">Press Kit</a>
                  </li>
                  <li>
                    <a href="#">FAQ</a>
                  </li>
                  <li>
                    <a href="#">Terms</a>
                  </li>
                  <li>
                    <a href="#">Privacy Policy</a>
                  </li>
                  <li>
                    <a href="#">Contact Us</a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- END COLUMN 2 -->
          </div>
          <div class="col-md-4">
            <!-- COLUMN 3 -->
            <div class="newsletter">
              <h3 class="footer-heading">NEWSLETTER</h3>
              <p>Get the latest update from us by subscribing to our newsletter.</p>
              <form  data-parsley-validate class="newsletter-form" method="POST" >
                <div class="input-group input-group-lg">
                  <input type="email" class="form-control" name="email" placeholder="youremail@domain.com">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="button"><span class="fa fa-spinner fa-spin"></span><span>SUBSCRIBE</span>
                  </button>
                  </span>
                </div>
                <div class="alert"></div>
              </form>
            </div>
            <div class="social-connect">
              <h3 class="footer-heading">GET CONNECTED</h3>
              <ul class="list-inline social-icons">
                <li>
                  <a href="{{site.data.config.facebook}}" class="facebook-bg" target="_blank"><span class="fa fa-facebook"></span></a>
                </li>
                <li>
                  <a href="https://www.twitter.com/{{site.data.config.twitter}}" target="_blank" class="twitter-bg"><span class="fa fa-twitter"></span></a>
                </li>
                <li>
                  <a href="#" class="rss-bg"><span class="fa fa-rss"></span></a>
                </li>
              </ul>
            </div>
            <!-- END COLUMN 3 -->
          </div>
        </div>
      </div>
      <!-- COPYRIGHT -->
      <div class="text-center copyright">
        &copy;2015 The Develovers. All Rights Reserved.
      </div>
      <!-- END COPYRIGHT -->
    </footer>
    <!-- END FOOTER -->
