<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
                <span class="sr-only">Toggle Navigation</span>
                <i class="fa fa-bars"></i>
            </button>
            <a href="index.html" class="navbar-brand">
                {{site.data.texts.title}}
            </a>
        </div>
        <!-- MAIN NAVIGATION -->
        <div id="main-nav" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#top">HOME</a>
                </li>
                {% for section in site.data.sections %}
                <li>
                  <a href="#{{section.url}}">{{section.menu}}</a>
                </li>
              {% endfor %}
            </ul>
        </div>
        <!-- MAIN NAVIGATION -->
    </div>
</nav>
