<!-- SERVICES -->
<section id="{{site.data.sections.what-we-do.url}}">
  <div class="container">
    <div class="heading-center">
      <h2 class="section-heading">{{site.data.sections.what-we-do.heading}}</h2>
      <p class="lead">{{site.data.sections.what-we-do.lead}}</p>
      <hr>
    </div>
    <!-- BOXED CONTENT -->
    <div class="row">
    {% for post in site.category.what-we-do %}
      <div class="col-md-4">
        <div class="boxed-content left-aligned left-boxed-icon">
          <i class="fa fa-{{post.icon}}"></i>
          <h2 class="boxed-content-title">{{post.title}}</h2>
          <p>{{post.content}}</p>
        </div>
      </div>
    {% endfor %}
    </div>
    <!-- END BOXED CONTENT -->
  </div>
</section>
<!-- END SERVICES -->
